* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(67, 47, 108);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
main h1 {
  text-align: center;
}
.wrap {
  margin: auto;
  width: 80%;
  height: 85vh;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.wrap button {
  margin: auto;
  height: 45px;
  width: 300px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: rgb(39, 37, 54);
  color: white;
}
.wrap button:hover {
  background: rgb(113, 91, 159);
  color: white;
}
.each {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
  padding-left: 10px;
}
.each img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrap section button {
  width: 100px;
  height: 30px;
  /* margin-left: 20px; */
  margin: 0;
}
.age {
  font-size: 12px;
  font-weight: 50;
}
